<h1>Donate Now!</h1>

<style> 
  a.support {
    text-decoration: none; 
    color: #0000aa; 
    font-size: 12pt
  }
   a.support:visited {
    font-family: "Courier New", Courier, monospace; 
    text-decoration: none; 
    color: #0000aa; 
    font-size: 12pt
  }
  li {
    padding: 5px;
  }
  img {
    padding: 10px;
  }
</style>

Thanks to our current sponsors:

<ul style="list-style-type:none">
<li><a class="support" href="http://dos.cornell.edu/sleca">Student Leadership, Engagement & Campus Activities</a></li>
<li><a class="support" href="http://dos.cornell.edu/office-of-dean-of-students/awards-funding/bartels-co-sponsorship">Bartels Fund</a></li>
<li><a class="support" href="http://orgsync.rso.cornell.edu/org/cpfb/home"><img src="media/images/cpfb.jpg" width="200" alt="community partnership funding board"></a><a href="http://giving.walmart.com/foundation"><img width="200" src="media/images/walmart.jpg" alt="walmart"></a></li></li>
<a href="http://psc.cornell.edu/"><img width="200" src="media/images/publicservicecenterlogo.jpg" alt="public service center"></a>
<a href="http://redjacketorchards.com/"><img width="200" src="media/images/redjacket.png" alt="redjacket"></a></li><li>
<a href="http://www.envisagesystems.com/"><img width="200" src="media/images/envisage.png" alt="envisage"></a>
<a href="http://www.amazon.com/b/ref=AS_ln_ba/ref=s9_acss_bw_ln_leftnavt_1_3?_encoding=UTF8&ie=UTF8&node=9652911011&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=merchandised-search-leftnav&pf_rd_r=0PA3BZYPW1400D04HP2R&pf_rd_t=101&pf_rd_p=2397351062&pf_rd_i=668781011"><img width="200" src="media/images/amazon.png" alt="amazon"></a></li>
</ul>
In addition to our volunteers, teachers, e-board members and of course students, Splash! relies on donations to make our program possible. Please consider donating to our program below securely using PayPal.

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="8UFCU2QZ333C4">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


