<h2 style="text-decoration: underline;text-align: center;">Registration is open!</h2>
<button class="btn btn-success btn-lg" style="display:block;margin-left:auto;margin-right:auto;margin-bottom:15px;"><a href="https://cornell.learningu.org/learn/Splash/2016_Fall/studentreg" style="color:white; text-decoration: none;">Click here to register!</a></button>
<button class="btn btn-info btn-lg" style="display:block;margin-left:auto;margin-right:auto;"><a href="https://cornell.learningu.org/learn/Splash/2016_Fall/catalog" style="color:white;text-decoration: none;">View the catalog here!</a></button>

<p style="text-align: center"><img src="/media/images/frontpagebig.jpg" alt="group photo" width="400px"></p> 

## What is Splash?
Splash a one-day event where high school and middle school students come to Cornell's campus to learn <b>anything</b> (!). Splash teachers, administrators, and volunteers are all Cornell students. 

## When is Splash?
Cornell's next Splash! will take place on November 5th, 2016 on Cornell's campus in Ithaca, New York. Please stay tuned for more information! 

## How do I sign up?

<p id='registrationText'> 
	<b> If you'd like be the first to hear when our first-come first-serve registration for Splash! Fall 2016 opens in mid-October, make sure you have a student or parent account on this site with an up-to-date e-mail! We'll also post on our Facebook and Twitter actively while registration is open. </b> When registration opens, you'll need to have a <b>student</b> account in order to create your schedule.
</p>

<script>
var changeDate = new Date('2016-10-15');
var now = new Date();
now.setHours(0,0,0,0);
if (changeDate < now){
	document.getElementById("registrationText").innerHTML = "Registration for Splash! Fall 2016 is <b>now open!</b> Please sign up by clicking the button at the top of this page! Please remember that registration is first-come, first-serve.";
}
</script>

## Really? Anything?

Yes! 

## Give me an example! 

We'll post our catalog for November 5th, 2016 soon!

<br/>
You can view catalogs from previous events below:
<ul>
<li> [Spring 2016](https://cornell.learningu.org/learn/Splash/2016_Spring/catalog)</li>
<li>[Fall 2015](https://cornell.learningu.org/learn/Splash/2015_Fall/catalog)</li>
<li>[Spring 2015](https://cornell.learningu.org/learn/Splash/2015_Spring/catalog)</li> 
<li> or check out a past catalog from [MIT Splash! 2014](https://esp.mit.edu/learn/Splash/2014/catalog)!  </li>
</ul>

## How much does it cost?

Attending Splash costs $25 per student if you pre-register and pay online via Stripe. You can access payment through student registration.

You can also pay in person via cash or check made out to ‘Splash! at Cornell'. The cost is $30 if paid day-of.

<b>Generous financial aid is available on a need-based basis. If the cost of the program poses an obstacle to your attendance, please fill out the financial aid application while registering.</b>

# Day Of (tentative schedule)
<b>9 AM - 9:45 AM:</b> Check-in in Plant Sciences Building Lobby
<br />
<b>10 AM - 10:45 AM:</b> Keynote in Plant Sciences 233 
<br />
<b>10:45 AM - 11 AM:</b> Group Photo
<br />
<b>11 AM - 11:50 AM:</b> Class 1
<br />
<b>12:00 PM - 12:50 PM:</b> Class 2
<br />
<b>1 PM - 1:50 PM:</b> Lunch
<br />
<b>2 PM - 2:50 PM:</b> Class 3
<br />
<b>3 PM - 3:50 PM:</b> Class 4
<br />
<b>4 PM - 4:50 PM:</b> Class 5
<br />
<b>5 PM - 5:50 PM:</b> Class 6
<br />
<b>6 PM:</b> Cookies and Feedback in Plant Sciences 233!

## Information for Parents and Guardians
<a href="https://cornell.learningu.org/parents/program.html"><h3>Parent Program Schedule</h3></a>
<br />
<br />
We’re committed to making Splash a safe, educational, and fun experience for everyone. We’ve worked hand in hand with [Cornell Public Safety](http://www.cupolice.cornell.edu/) to make sure this happens. 

We also believe Splash can be a learning and growing experience for your student: they should pick their own classes, navigate the Ag Quad to find them, and make some new friends playing games at lunch. We encourage parents to explore campus and beautiful Ithaca in the spring. You can also [sign up for a campus tour or information session.](http://www.cornell.edu/visit/)

Please do not hesitate to [contact us](https://cornell.learningu.org/contact.html), and check out our [FAQ](https://cornell.learningu.org/faq.html) for more information.

# Fall-2016-specific questions: 

<b>Q: What time should I get to campus? </b> 
<br/>
A: Check-in will open in the Plant Sciences Building lobby at approximately 9:00 AM and run until the beginning of our student-only keynote presentation. Students that arrive late should come to our Help Desk, permanently located in the Plant Sciences Lobby, for check-in.

<b>Q: Where is this program being held?</b>
<br/>
A: All Splash! Spring 2016 classes and events will be in three connected buildings on the Cornell Ag Quad, namely: Warren Hall, Mann Library/Hall, and the Plant Sciences Building. Student schedules will include locations for every class. 

<img src="https://cornell.learningu.org/download/67f3a62b-6a92-49db-8aaa-92fe9f6357d2/Building%20Location%20Slide.jpg" alt="map_of_ag_quad">

<b>Q: Where should I park?</b> 
<br />
A: Hoy Garage, located <a href="https://www.google.com/maps/place/Parking+Garage/@42.4463984,-76.4844085,13z/data=!4m17!1m14!4m13!1m6!1m2!1s0x89d0818cad0f042d:0x64bb28e7caad2d4d!2sParking+Garage,+Hoy+Rd,+Ithaca,+NY+14853,+United+States!2m2!1d-76.4796!2d42.4440763!1m5!1m1!1s0x0:0x64bb28e7caad2d4d!2m2!1d-76.4796!2d42.4440763!3m1!1s0x89d0818cad0f042d:0x64bb28e7caad2d4d"> here </a>, is the University's preferred location for weekend guest parking. If you've never driven on campus before, we recommend arriving early and consulting Cornell's transport page <a href="https://transportation.fs.cornell.edu/file/VisitorParkingMap-11.pdf"> here </a>.  

<b>Q: What should I bring?</b> 
<br />
A: Please pack a snack and a re-fillable bottle of water (and your sense of adventure!) - we'll provide lunch, shirts, notepads, pens, schedules, and more. Additionally, make sure that you've completed your liability form electronically and have paid through PayPal already, or that you are bringing the day-of fee ($30) in cash on the day of the program. Unfortunately, the University does not allow us to accept any students for whom we do not have complete liability paperwork on file. 

<b>Q: Can my parents join in on the fun?</b> 
<br />
A: Our protection of minors/risk management policies prevent us from allowing parents/guardians to freely circulate in our Splash! lunch and classrooms. We welcome all adults to come with their students to check-in, and to take part in our very exciting guardian program. Parents are also welcome to explore Cornell and Ithaca, and we are happy to recommend some of the must-visit places in town. 

<b>Q: Can I switch classes during the program?</b> 
<br />
A:  Yes! If you'd like to switch classes, please make your way to the Help Desk (in the Plant Sciences Building lobby, right by check-in) for assistance. 

<b>Q: I didn't pay online, is my seat still reserved in my classes?</b> 
<br />
A:  Yes, as long as you registered online, your spot is reserved regardless of whether you're paying online or in person. 

<b>Q: I requested financial aid but haven't received any confirmation yet.  </b> 
<br />
A: We are in the process of completing financial aid requests. Please stay tuned for updates!

<!--We've sent out e-mails to all students who have completed their finaid request as of Thursday afternoon. If you made a complete requested and haven't received a "Status: Granted" e-mail yet, please check your spam filter and contact us ASAP.-->

<b>Q: What should I do when I'm done with all my classes? </b> 
<br />
A: We'll be collecting feedback forms and giving out cookies in Plant Sciences 233 (our keynote location), at the end of our program at 5:50. If you'd like to be picked up early, please arrange to meet in the Plant Sciences Lobby. 

<b>Q: I've never been to a Splash! before... help!  </b> 
<br />
A: Have no fear! Splash! is meant to be a fun experiment in learning what you want to, just because you want to. If you've never been on a college campus before, the buildings and students can seem intimidating at first, but you'll find that the areas we've picked at Cornell aren't too hard to navigate and that there's never a volunteer in a blue Splash! shirt too far away. Above all, remember Douglas Adams' timeless advice (Don't Panic!) and that there's never such a thing as a silly question. See you soon!

<img src="/media/images/student.jpg" alt="students">