<ul class="submenu">
	<li style="display: inline-block; list-style-type: none; padding: 10px;"><a href="/parents/index.html" style="color: white; text-decoration: none">FAQ</a></li>
	<li style="display: inline-block; list-style-type: none; padding: 10px; color: white"><a href="/parents/program.html" style="color: white; text-decoration: none">Parent Program</a></li>
</ul>

<style>
       ul.submenu {
              background:#4a159a;
              margin-left: -21px;
              margin-top: -38px;  
              width: 580px; 
              padding: 10px; 
              position: relative; 
              list-style: disc;}
	table.parent td {
		padding: 7px;
	}
	table.parent {
		border-collapse: collapse;
		border: 2px solid #4a159a;
	}
	h3 {
		color: #4a159a;
	}
</style>

<h1>2016 Parent Program - Weill Hall 2nd Floor</h1> 

<p>While your student is immersed in a day of learning, enjoy an educational program just for you. Parents are encouraged to attend our presentation series, including topics on college admission and transition to higher education. Stop by our information booth to get information on the Splash! program and where to explore in the Ithaca area during your visit. </p>

<p>Coffee will be available in the morning</p>

<h2>Schedule</h2>
<table class="parent" style="display:block; margin:auto; width:450px" border="1"> 
	<tr>
		<td>11:00 PM</td>
		<td>
			<a href="#transition"> 
				<h5>Transition to Higher Education</h5> 
			</a>
		</td>
	</tr>

	<tr>
		<td>12:00 PM</td>
		<td>
			<a href="#flawed">
				<h5>Common Flawed Assumptions About College Admissions</h5>
			</a>
		</td>
	</tr>

	<tr>
		<td>1:00 PM</td>
		<td>
			<h5>Break for Lunch</h5>
		</td>
	</tr>

	<tr>
		<td>2:00 PM</td>
		<td>
			<a href="#public">
				<h5>Cornell Public Service Center </h5>
			</a>
		</td>
	</tr>

	<tr>
		<td>3:00 PM</td>
		<td>
			<a href="#financial">
				<h5>Cornell Financial Aid</h5>
			</a>
		</td>
	</tr>

	<tr>
		<td>4:00 PM</td>
		<td>
			<a href="#sample">
				<h5>Splash! Sample Classes!</h5>
			</a>
		</td>
	</tr>
</table>  
<br>

<h3 style="color: #4a159a" id="transition">Transition to Higher Education</h3> 
<h4>Bryan Duff, Professor in Education</h4>
<p>Even for the most accomplished high school students, the transition to college-level work can be challenging. Two experts on this transition will talk briefly and spend most of the time answering questions from parents. Bryan Duff, a former high school teacher, is now a Cornell professor of education. Bryan will be joined by a first-year undergraduate for whom the transition is still fresh.</p>

<h3 style="color: #4a159a" id="flawed">Common Flawed Assumptions About College Admissions</h3>
<h4>Amy Estersohn</h4>
<p>Amy Estersohn used to work in college admissions for an institution that admits less than 10% of students who apply. She traded weekends of reading college essays and teacher recommendations for weekends of grading student papers as an English teacher in suburban New York.<br>

Lots of families worry about getting their children into college. This session won't necessarily relieve families of *all* their worries, but this session can give you seven things that families should worry less about, ranging from scholarship availability to SAT and ACT exams. This session is mostly a lecture with limited opportunity for Q+A if time permits. </p>

<h3 style="color: #4a159a" id="public">Cornell Public Service Center</h3>
<h4>Austin Faye, PreK-12 Program Coordinator</h4>
<p> Learn about why public service is part of a balanced approach to college life, professional development, and personal growth-identity development in college students. </p>

<h3 style="color: #4a159a" id="financial"> Cornell Financial Aid </h3>
<h4> Jennifer Wickham, Office of Financial Aid and Student Employment</h4>
<p> Join one of Cornell's Financial Aid officers to learn the basics of financial aid, and what to expect of the process. Financial Aid can be confusing and daunting, but hear from an expert how to understand the process! </p>

<h3 style="color: #4a159a" id="sample"> Splash! Sample Classes </h3>
<p> Have you ever wondered what the Splash! classes are like? This is your opportunity to find out! There will be two Splash! classes being taught at this time - will be updated soon with the class titles! </p>


<!-- Previous Programs-->

<!-- <h3 style="color: #4a159a">Splash! Behind the Scenes</h3> 
<h4>Splash! at Cornell Executive Board</h4> 
<p>Hear about Splash! at Cornell from the perspective of the students who organize the event every semester. Learn about how we recruit and train or teachers, or how we make our class schedules. This is a great opportunity to ask questions or give feedback about the event overall. We'll talk about our future goals for Splash! and what changes you can expect to see in the future.</p> -->

<!-- <h3 style="color: #4a159a">Cornell Admissions</h3>
<h4>Tammy Shapiro, Asst. Dean of Admissions and Advising, College of Arts and Sciences<br> 
Ray Kim, Advising Dean, College of Arts and Sciences<br> 
Ian Schachner, Asst. Director of Admissions, Industrial Labor Relations</h4>
<p>Join our panel of seasoned admissions officers for an informal Q&A on Cornell admissions! Applying to a university like Cornell, with numerous colleges and programs, involves a number of tough decisions. Each college at Cornell differs in financial aid, degree requirements, and majors offered. Hear all about this process from the experts! </p>
 -->