<!--
# Teacher Applications for Fall 2016 are now available!

<p>
Register your class <a href="https://cornell.learningu.org/teach/Splash/2016_Spring/teacherreg">here</a>.
</p>
-->

# Day Of
<!--
<b>9 AM - 9:45 AM:</b> Registration
<br />
<b>10 AM - 10:45 AM:</b> Keynote
<br />
<b>10:45 AM - 11 AM:</b> Photo
<br />
<b>11 AM - 11:50 AM:</b> Class 1
<br />
<b>12:00 PM - 12:50 PM:</b> Class 2/Lunch 1
<br />
<b>1 PM - 1:50 PM:</b> Class 3/Lunch 2
<br />
<b>2 PM - 2:50 PM:</b> Class 4
<br />
<b>3 PM - 3:50 PM:</b> Class 5
<br />
<b>4 PM - 4:50 PM:</b> Class 6
<br />
<b>5 PM - 5:50 PM:</b> Class 7
<br />
<b>6 PM:</b> Cookies and Feedback in Plant Sciences 233!
-->

<b>Times</b>: Splash! Fall 2016 is set for Saturday, November 5th, 2016. Classes will run from 11 am to 5:50 pm, with 50 minutes for each class. First-time teachers teach one class with multiple sections, and returning teachers can choose to teach one or two classes. It’s up to you to choose what blocks you want to teach (you could teach from 10:00-10:50 am, and then come back and teach from 3:00-3:50 pm if your heart desires). Fill in your availability accurately when you register your class- we’ll use this information to schedule it. We’ll be serving lunch to students in Warren B25 from 1 to 1:50, and will be meeting right after the opening ceremonies at 10:50am to take the group photo.


<b>Location</b>: The event will be held on the Cornell Campus, in the Agriculture Quad. Classes will be held in Kennedy, Warren, Mann, Plant Sciences, and Weill Halls, with check-in and opening lecture in Plant Sciences. 


<b>Check In</b>: On the day of Splash!, please check in a half-hour before your class starts. Once you check in, you will be given a T-shirt, classroom materials, and directed to your classroom. We ask that you arrive 30 minutes before the scheduled start of your class. 

# Teaching for Splash

<b>Who</b>: We want anyone that is interested in spreading their passions! It doesn't matter if you're a freshman who has a passion for Biology or a graduate student with a passion for dance! If you have something that you are passionate about and willing to teach a course on, we'd love to have you join! We accept both individual applications and group-taught courses, as well as courses sponsored by campus organizations.

<b>What to Teach</b>: Anything! Literally, anything. Keep in mind the time, material, money, and space constraints as you plan your class. If you are still stuck, check out our past catalog.

<b>Deadlines</b>: <a href="https://docs.google.com/forms/d/1jcxKLSQ61EiUe0J30xr7ORapSCSiyHvIaLLgJz-sSyY/viewform"> The teacher application </a> is due on October 5, 2016. If you have applied, you will be notified of your acceptance by the beginning of March. Please remember to confirm your acceptance and contact us if you are not receiving emails from splashcornell@gmail.com.

<b>Teacher Training</b>: There will be one teacher training session this March. Look forward to it! Professor Duff will be teaching the sessions - he is an amazing lecturer and he will keep you on your toes.

<img src="https://scontent-yyz1-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/12742766_1689683131278804_277123082532539929_n.jpg?oh=b464356abd4001697cefb3340e28b788&oe=575AA5D5"> </img>


<!--<b>Teacher Check-Ins</b>:

Timeline:
<br />
<b>2/28/2015</b>				Notified of teacher acceptance
<br />
<b>3/2/2015</b>				        Confirm your acceptance
<br />
<b>3/12/2015</b>				Teacher Training Session #1
<br />
<b>3/16/2015</b>				Teaching Training Session #2
<br />-->