# Volunteer

Thank you for your interest in volunteering for Splash! at Cornell. We will be holding our next event on November 5th, 2016.

As a volunteer, you will have the opportunity to:
<ul>
<li>Assist students as they walk to and from classes</li>
<li>Serve lunch to students during lunch periods</li>
<li>Help with the set up and clean up</li>
<li>Have fun, and more!</li>
</ul>

Currently, registration to become a volunteer is closed. However, we encourage you to join our volunteer list serv by emailing us at splashcornell@gmail.com. We hope to see you in November!

<img src="https://scontent-yyz1-1.xx.fbcdn.net/hphotos-xat1/v/t1.0-9/11150368_1596404847273300_8380531715460811434_n.jpg?oh=c49bfab424216f638d7ed4fc7053fc3c&oe=576162ED"> </img>