# Volunteer

<p id="dateOf"> Thank you for your interest in volunteering for Splash! at Cornell. We will be holding our next event on </p>

As a volunteer, you will have the opportunity to:
<ul>
<li>Assist students as they walk to and from classes</li>
<li>Serve lunch to students during lunch periods</li>
<li>Help with the set up and clean up</li>
<li>Have fun, and more!</li>
</ul>

Currently, registration to become a volunteer is closed. However, we encourage you to join our volunteer list serv by emailing us at <a href="mailto:splashcornell@gmail.com"> splashcornell@gmail.com. </a> We hope to see you soon!

<img src="https://cornell.learningu.org/media/images/volunteer.jpg"> </img>
<script   src="https://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>
<script>
  $.get("https://cornell.learningu.org/media/resources/constants.txt", function(data) {
      console.log(data);
      var jsonData = JSON.parse(data);
      var div = document.getElementById('dateOf');
	div.innerHTML = div.innerHTML + jsonData.dateOf;
  });
</script>    