{% extends "elements/html" %}

{% block fulltitle %}{{ theme.titlebar_prefix }} - {% block title %}Home{% endblock %}{% endblock %}

{% load main %} {# helpful functions #}

{% block stylesheets %}
{{ block.super }}
<link rel="shortcut icon" href="/media/images/favicon.ico" />
<meta name="author" content="Splash! at Cornell" />

{% endblock %}

{% block javascript %}
{{ block.super }}

{% endblock %}

{% block body %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="/media/styles/buttons.css">

<div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div id="adminbar" class="admin hidden">
  <div class="title" onclick="ESP.toggleDisplay('adminbar_content');">Admin Toolbar</div>
  <div id="adminbar_content"></div>
</div>
<script type="text/javascript" src="/media/scripts/theme/mit_usersearch.js"> </script>
    <div id="page" class="{{ request.path|extract_theme }}">
    <div id="tab_sidebar">
      <ul id="menu">
      <li id="tab_logo" class="tabcolor0" ><span class="accent">&nbsp;</span><a href="/"><img id="logo" alt="home" src="/media/images/logo.png" /></a></li>
      {% with request.path|get_nav_category as category %}
      {% for item in category.links %}
      <li id="tab_{{ forloop.counter }}" class="tabcolor{{ forloop.counter }}" ><span class="accent">&nbsp;</span><a href="{{ item.link }}">{{ item.text.upper }}</a></li>
      {% endfor %}
      {% endwith %}
      <li class="admin hidden tabcolor9" ><span class="accent">&nbsp;</span><a href="/manage/programs/">MANAGE</a></li>
      <li class="unmorph hidden tabcolor9" ><span class="accent">&nbsp;</span><a href="/myesp/switchback/">UNMORPH</a><div id="unmorph_text" style="font-size: 0.7em; margin-left: 16px"></div></li>
      </ul>
  </div>
  <div id="body">
    <div class="corners"><div class="ul"></div><div class="ur"></div><div class="dl"></div><div class="dr"></div></div>
    <div id="header">

    <div id="cross_link" style="width:530px; right:110px !important;">
    {% for category in theme.nav_structure %}
    <span class="leftedge{% if request.path|slice:':5' != category.header_link|slice:':5' %} inactive{% endif %}"><a href="{{ category.header_link }}"></a></span><span class="teach{% if request.path|slice:':5' != category.header_link|slice:':5' %} inactive{% endif %}"><a href="{{ category.header_link }}">{{ category.header }}</a></span>
    {% endfor %}
    </div>
     
      <div id="contact_info" style="color:white !important;">
      <span class="title accentcolor" style="color:white !important;">{{ theme.full_group_name }}</span>
      <span class="normal" style="color:white !important;">
        {{ settings.DEFAULT_EMAIL_ADDRESSES.default }}
      </span>
      <span class="normal" style="color:white !important; height:20px">
        <div id="phone_info" style="float:left;">Phone:  </div>
        <div id="phone" style="float:left;"> </div>
      </span>
      <a href="/contact.html" style="text-decoration : none">
        <button class="btn btn-info" style="width:30px;height:30px; background: #D45437">
          <i class="fa fa-comment" aria-hidden="true"></i>
        </button>
      </a>
      <a href="/faq.html" style="text-decoration : none">
        <button class="btn btn-info" style="width:30px;height:30px; background: #FF9D00">
          <i class="fa fa-question" aria-hidden="true"></i>
        </button>
      </a>
      {% if theme.facebook_link %}
      <a href="https://www.facebook.com/cornellsplash" data-layout="button" data-action="like" data-show-faces="false" data-share="false" style="text-decoration : none">
        <button class="btn btn-info" style="width:30px;height:30px;background:#3b5998">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </button>
      </a>
      {% endif %} 
      <a href="https://twitter.com/SplashCornell" data-show-count="false" data-show-screen-name="false" style="text-decoration : none">
        <button class="btn btn-info" style="width:30px;height:30px">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </button>
      </a>
      </div>
{% block login %}
<div id="login_box">

<!-- login -->
<div class="not_logged_in">
<form name="login_form" id="login_form" method="post" action="/myesp/login/">
  <input type="hidden" name="next" class="form-control" value="{{ request.path }}" />
  <div class="input-group">
    <input type="text" id="login_user" name="username" class="form-control" placeholder="username" style="height: 30px"/>
      <span class="input-group-btn">
        <button type="submit" name="login_submit" value="Log in" class="btn btn-special btn-success" style="margin-left: 150px; margin-top: -10px;">
          Log In
        </button>
        <button href="/myesp/register" class="btn btn-special btn-info" style="margin-top: -10px;">
          Sign Up
        </button>  
      </span>
  </div>
  
  <div class="input-group">
      <input type="password" id="login_pswd" name="password" class="form-control" placeholder="password" style="height: 30px;"/>
      <span class="input-group-btn">
        <button href="/myesp/loginhelp.html" id="login_help" type="button" class="btn btn-special btn-default">
          need help?
        </button>
      </span>
    </div>

</form>
</div>
<div class="logged_in hidden well" style="background:white">
  <div id="loginbox_user_name"></div>

  <a href="/myesp/accountmanage.html" style="text-decoration : none">
    <button type="button" class="btn btn-default">
      My Profile
    </button>
  </a>

  <a href="/myesp/signout/" style="text-decoration : none">
    <button type="button" class="btn btn-danger">
      Logout
    </button>
  </a>
</div>

</div>
{% endblock %}
    </div>
    <div id="page_main">
      <div class="corners"><div class="ul"></div><div class="ur"></div><div class="dl"></div><div class="dr"></div></div>
{% block content_header %}
<div id="content_header">
<div class="corners"><div class="ul"></div><div class="ur"></div></div>
{% if request.path|equal:"" or request.path|equal:"" %}<!--"/teach/index.html" "/learn/index.html"-->

{# announcements #}
<div id="divannouncements">
<ul>
{% load preview %}

{% if request.path|equal:"/teach/index.html" %}
    {% miniblog_for_user AnonymousUser as announcements teach 3 %}
{% else %}
    {% miniblog_for_user AnonymousUser as announcements learn 3 %}
{% endif %}

{% for announce in announcements.announcementList %}
       <li>
        {% with announceUrl=announce.get_absolute_url %}
        {% if announceUrl %}
	<a href="{{ announceUrl }}" title="{{ announce.makeTitle }}">
        {% endif %}
	  <h1>{{ announce.category|default:"" }}</h1>
          <span style="color: #CBF57F; font-size: 12pt; text-decoration: none;">
                {{ announce.makeTitle }}</span>
       {% if announceUrl %}</a>{% endif %}</li>
       {% endwith %}
{% endfor %}
     </ul>
</div>

<!-- more announcements -->
{% if announcements.overflowed %}
<div id="divannouncemore">
  <a href="/myesp/home/">more announcements...</a></div>
{% endif %}
{% else %}
<h1 class="title">{% block content_title %}&nbsp;{% endblock %}</h1>
{% endif %}
</div>
{% endblock %}

{% block secondary_nav %}
{% load navbar %}
{% navbar_gen request.path None navbar_list %}
{% endblock %}

      <div id="content">
{% block content %}{% endblock %}
      </div>
      {% with request.path|split:"/"|index:1 as split_url %}
      {% if program and split_url|notequal:"manage" %}
      <div class="admin hidden" id="admin_link">
	<a href="/manage/{{ program.getUrlBase }}/dashboard">Administer this program</a>
      </div>
      {% endif %}
      {% endwith %}
    </div>
    <div id="footer">
      &copy; {{ theme.full_group_name }}, <!--{{ theme.mtime.year }}-->
    </div>
    <script>var year = new Date().getFullYear(); document.getElementById("footer").innerHTML += "" + year;</script>

<script   src="https://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>
<script>
  $.get("https://cornell.learningu.org/media/resources/constants.txt", function(data) {
      console.log(data);
      var jsonData = JSON.parse(data);
      $('#phone').text(jsonData.phone);
  });
</script>    

<!-- Facebook Conversion Code for Key Page Views - Justin Cray 1 -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6021452946215', {'value':'0.00','currency':'USD'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6021452946215&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>
  </div>
</div>

{% endblock %}

{% comment %} Theme: fruitsalad {% endcomment %}